In [1]:
import statistics as stat

In [2]:
# List of marks of student
marks = [26, 28, 27, 30]

In [3]:
print('Mean =', stat.mean(marks))

Mean = 27.75

In [4]:
print('Variance (pop) =', stat.pvariance(marks))
print('Variance (samp) =', stat.variance(marks))

Variance (pop) = 2.1875
Variance (samp) = 2.9166666666666665

In [5]:
print('Mode =', stat.mode(marks))
print('Median =', stat.median(marks))
print('Quantiles =', stat.quantiles(marks))

Mode = 26
Median = 27.5
Quantiles = [26.25, 27.5, 29.5]

In [6]:
print('Minimum =', min(marks))
print('Maximum =', max(marks))

Minimum = 26
Maximum = 30

In [7]:
import random

for k in range(10): # k = 0, 1, ..., 9
    print(random.randrange(1, 7))

5
2
6
1
4
3
2
2
1
4

In [8]:
for k in range(10): # k = 0, 1, ..., 9
    print(random.randrange(1, 7))

3
3
4
4
2
6
6
4
6
1

In [9]:
# Fix the seed
random.seed(32)

for k in range(10): # k = 0, 1, ..., 9
    print(random.randrange(1, 7))

1
2
2
3
6
2
4
1
6
1

In [10]:
# Fix the seed
random.seed(32)

for k in range(10): # k = 0, 1, ..., 9
    print(random.randrange(1, 7))

1
2
2
3
6
2
4
1
6
1

In [11]:
# Create a list
l = [8, 9, 6 ,7]
l

[8, 9, 6, 7]

In [12]:
l[1] = 5
l

[8, 5, 6, 7]

In [13]:
# Visit the list iterating its elements
for element in l:
    print(element)

8
5
6
7

In [14]:
# Visit the list through the indices
for k in range(len(l)):
    print(l[k])

8
5
6
7

In [15]:
# Create an empty list
a = []

# Add to the list all the squares of numbers from 0 to 9
for i in range(10):
    a.append(i**2)
    
    print('List a:', a)

List a: [0]
List a: [0, 1]
List a: [0, 1, 4]
List a: [0, 1, 4, 9]
List a: [0, 1, 4, 9, 16]
List a: [0, 1, 4, 9, 16, 25]
List a: [0, 1, 4, 9, 16, 25, 36]
List a: [0, 1, 4, 9, 16, 25, 36, 49]
List a: [0, 1, 4, 9, 16, 25, 36, 49, 64]
List a: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# Create a tuple
t = (10, 'hello', 3.3)
type(t)

tuple

In [17]:
# We should get an error
t[0] = 11

TypeError: 'tuple' object does not support item assignment

In [18]:
# Unpacking a tuple
first, second, third = t

In [19]:
first

10

In [20]:
second

'hello'

In [21]:
third

3.3

In [22]:
# Packing
s = (second, first, third)
s

('hello', 10, 3.3)