In [1]:
# Import the libraries
import numpy as np
import pandas as pd
import yfinance as yf
from scipy.stats import norm

In [2]:
# Create a portfolio of equities
tickers = ['AMZN', 'TSLA', 'AAPL', 'GOOG']

In [3]:
# Set the portfolio weights (summing up to 1)
weights = np.array([0.25, 0.3, 0.15, 0.3])

In [4]:
# Set the initial investment
initial_investment = 1000000

In [5]:
# Read all the tickers at once
stocks = yf.Tickers(tickers)
hist_data = stocks.history(period='3y')['Close']
hist_data

[*********************100%***********************]  4 of 4 completed

                  AAPL        AMZN        GOOG        TSLA
Date
2021-05-10  124.887520  159.524506  117.083000  209.679993
2021-05-11  123.962067  161.195496  115.438004  205.733337
2021-05-12  120.870651  157.597000  111.954002  196.630005
2021-05-13  123.036621  158.073502  113.098503  190.563339
2021-05-14  125.478249  161.145004  115.807999  196.580002
...                ...         ...         ...         ...
2024-05-02  173.029999  184.720001  168.460007  180.009995
2024-05-03  183.380005  186.210007  168.990005  181.190002
2024-05-06  181.710007  188.699997  169.830002  184.759995
2024-05-07  182.399994  188.759995  172.979996  177.809998
2024-05-08  182.119995  187.880005  171.645004  174.470001

[755 rows x 4 columns]